body {
  background: lightblue;
  text-align: center;
}
.wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.circle {
  background: pink;
  padding: 100px 0;
  width: 200px;
  line-height: 0;
  border-radius: 100px;
  margin: 0 auto;
  cursor: pointer;
  transition: background 3s, transform 1s 2s linear;
}
.circle:hover {
  background: salmon;
  transform: rotate(1080deg);
}
