body {
  background: #eee;
  width: 20%;
  margin: 0 auto;
}
#content {
  max-height: 100px;
  overflow: hidden;
  transition: all 0.5s;
}
#content.open {
  max-height: 1000px;
  transition: all 0.5s;
}
